@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

#sous-titre {
    font-weight: bold;
    font-style: italic;
    margin: 0 auto;
    width: 20%;
    text-align: center;
    font-size: 25px;
    box-shadow: 0 0 50px rgba(51, 51, 51, 0.8);
    background-color: rgba(250, 0, 0, 0.9);
    border-radius: 10px;
    border: solid 1px black;
    text-shadow: gold 0.1em 0.1em 0.2em;
    color: rgba(27, 27, 185, 0.9);
}